@{
    ViewBag.Title = "門診資料轉檔";

    var alert = ViewBag.alert;
    var result = ViewBag.result;
    var fileZip = ViewBag.fileZip;
    var fileError = ViewBag.fileError;
}

@section Header
{
    <div class="row align-items-center">
        <div class="col-md-12">
            <div class="page-header-title">
                <h5 class="m-b-10">@ViewBag.Title</h5>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5><b class="f-w-600"><span class="badge badge-secondary" style="font-size:18px">A框轉檔</span> 門診申報(TOTFA)檔案 <span class="badge badge-success">XML</span></b></h5>
            </div>
            <div class="card-body">
                <form action="@Url.Action("OPD")" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">TOTFA:</label>
                        @*<input type="file" name="file" id="file" accept=".xml,.json" />*@
                        <input type="file" name="file" id="file" accept=".xml" />
                        @*<input type="file" name="file" id="file" accept=".xml" data-bind="event: { change: selectorChange }" />*@
                    </div>
                    <div class="form-group">
                        <label for="file">篩選清單:</label>
                        @*<input type="file" name="file" id="file" accept=".xml,.json" />*@
                        <input type="file" name="file_excel" id="file_excel" accept=".xls,.xlsx" />
                    </div>
                    <input class="btn btn-primary" type="submit" />
                    @*<input class="btn btn-primary" type="button" value="送出" data-bind="click: upload" />*@
                </form>
                @* 顯示進度條 End *@
                @if (alert != null && ViewBag.form == "OPD")
                {
                    //身分證 生日驗證
                    if ((alert == "1" && fileZip == "1") || (alert == "2" && fileZip == "1"))
                    {
                        <div class="alert alert-warning">
                            @result<br>
                        </div>
                        @*<a class="btn btn-primary" href="@Url.Action("DownloadZIP", "Conv", new { fileZip }) ">Download</a>*@
                        <a class="btn btn-primary" href="@Url.Action("DownloadError", "Conv", new { fileError}) ">ErrorReport</a>
                    }
                    else if (alert == "1" && fileZip.Length != 1)
                    {
                        <div class="alert alert-success">
                            @result<br>
                        </div>
                        <a class="btn btn-primary" href="@Url.Action("DownloadZIP", "Conv", new { fileZip }) ">Download</a>
                        @*<a class="btn btn-primary" href="@Url.Action("DownloadError", "Conv", new { fileError}) ">原檔XML_ErrorReport</a>*@
                    }
                    else if (alert == "0")
                    {
                        <div class="alert alert-danger">
                            @result
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
